/* 
    project Name: Glozzom
    author: mahede hasan
    description: this is sample website for made some special
*/

// variable called
$icon-size: 50px;
$dark-overlay: rgba(0, 0, 0, 0.692);
$col1:#222930;
$col2:#4EB1BA;
$col3:#E9E9E9;
$col4:#D05A00;

.navbar{
    background: $col1;
    .nav-item{
         padding-left: 1em;
         .nav-link{
             text-transform: uppercase;
         }
    }
 
}
.carousel-item{
    height: 450px;
}
.carousel-img-1{
    background: url("../img/image2.jpeg");
    background-size: cover;
}
.carousel-img2{
    background: url('../img/image3.jpeg');
    background-size: cover;
}
.carousel-img3{
    background: url('../img/image4.jpg');
    background-size: cover;
}
.carousel-img4{
    background: url('../img/image5.jpeg');
    background-size: cover;
}

#showcase{
    #Pdesign{
        background: url('../img/prev.png');
        background-size: cover;
    }
    #Ndesign{
        background: url('../img/next.png');
        background-size: cover;
    }
}

#homeicon{
    .fa{
        font-size: $icon-size;
        color: $col2;
    }
}

#getstarted{
    background: url('../img/image3.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    .dark-overlay{
        background: $dark-overlay;
        height: 100%;
    }
    #h-clr{
        color: $col3;
    }
    p{
        color: #b6b6b6;
    }
}

#home-video{
    background: url('../img/image2.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    .dark-overlay{
        background: $dark-overlay;
        height: 100%;
    }
    .fa{
        font-size: $icon-size;
        color: rgb(255, 66, 66);
    }
}
#gallery{
    img{
        min-height: 250px;
    }
}

#copyright{
    background: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
}
#AboutUsHeader{
    background: url('../img/image1.jpeg');
    background-size: cover;
    background-attachment: fixed;
    
}
#icon-box{
    .fa{
        font-size: $icon-size;
    }
}
#testimonial{
    .slick-next:before {
        color: rgb(179, 0, 0);
    }
    .slick-prev:before {
        color: rgb(0, 150, 7);
    }
}
#servicesHeader{
    background: url('../img/image2.jpeg');
    background-size: cover;
    background-attachment: fixed;
    
}

#BlogHeader{
    background: url('../img/image3.jpeg');
    background-size: cover;
    background-attachment: fixed;
    
}
.card-img-top{
    min-height: 235px;
}

.lead {
    font-size: 1.15rem;
    font-weight: 250; }
 .btn{
     background: $col2;
     color: $col3;
 } 
section{
    background-color: $col3;
}
.SignUpDesign{
    background-color: #222930;
}
#icon-box{
    p{
        font-size: 15px;
    }
}





// !Media Query
@media(max-width: 768px){
    .nav-item{
        padding-left: 0 !important;
    }
    .card{
        width: 100%;
    }
    .card-columns{
        column-count: 1;
    }
}
@media(max-width: 480px){
    .carousel{
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1rem;
        }  
    }
    
}